service firebase.storage {
  match /b/new-firebase-5a873.appspot.com/o {
    match /{userId}/{timestamp}/{fileName} {
      allow read, write: if request.auth.uid == userId;
      allow read;
    }
  }
}
